.bell-shake {
	animation: bellshake 0.4s infinite;
	backface-visibility: hidden;
	transform-origin: top right;
}
.bell-shake:hover {
	animation-play-state: paused;
}
@keyframes bellshake {
	0% {
		transform: rotate(0);
	}
	25% {
		transform: rotate(-5deg);
	}
	50% {
		transform: rotate(0deg);
	}
	75% {
		transform: rotate(5deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
