@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
.ContentEditable * {
  list-style-type: disc;
  border-width: 0;
  outline: none;
}

.hoverElement:hover ~ .hoverText {
  transition: 0.5s;
  opacity: 1;
  display: block;
}
.z-top {
  z-index: 100;
}
.hoverText {
  @apply absolute text-white text-[14px] z-40 min-w-[120px] text-center px-2 py-3 rounded-md after:absolute after:top-[100%] after:left-[50%] after:-translate-x-[50%] after:-translate-y-[50%] after:w-[10px] after:h-[10px] after:rotate-45;
  opacity: 0;
  display: none;
}
.shadow-right {
  -webkit-box-shadow: 7px 0px 13px -1px rgba(148, 148, 148, 0.76);
  -moz-box-shadow: 7px 0px 13px -1px rgba(148, 148, 148, 0.76);
  box-shadow: 7px 0px 13px -1px rgba(148, 148, 148, 0.76);
}
[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  border: 0.2rem solid #fff;
  background-color: #e8e8e8;
  border-radius: 50%;
  height: 1.35rem;
  width: 1.35rem;
  margin-right: 0.5rem;
  cursor: pointer;
  box-shadow: 0 0 0 1px #999;
}

[type="radio"]:focus-visible {
  outline-offset: 0;
}
[type="radio"]:hover {
  border-width: 0;
}
[type="radio"]:checked {
  box-shadow: 0 0 0 1px #f28e2c;
  border-color: #f28e2c;
  background-color: #fff;
  border-width: 0.325rem;
}
[type="radio"].sign-up-radio:checked {
  @apply border-mainPurple shadow-mainPurple;
}
.showModal {
  top: 0;
  animation: showModalAnimation 0.25s ease-in;
  -moz-animation: showModalAnimation 0.25s ease-in; /* Firefox */
  -webkit-animation: showModalAnimation 0.25s ease-in; /* Safari and Chrome */
}
.hideModal {
  top: -100vh;
  animation: hideModalAnimation 0.3s ease-in;
  -moz-animation: hideModalAnimation 0.3s ease-in; /* Firefox */
  -webkit-animation: hideModalAnimation 0.3s ease-in; /* Safari and Chrome */
}
@keyframes showModalAnimation {
  from {
    top: -100vh;
  }
  to {
    top: 0;
  }
}
@-moz-keyframes showModalAnimation {
  from {
    top: -100vh;
  }
  to {
    top: 0;
  }
}
@-webkit-keyframes showModalAnimation {
  from {
    top: -100vh;
  }
  to {
    top: 0;
  }
}
@keyframes hideModalAnimation {
  from {
    top: 0;
  }
  to {
    top: -100vh;
  }
}
@-moz-keyframes hideModalAnimation {
  from {
    top: 0;
  }
  to {
    top: -100vh;
  }
}
@-webkit-keyframes hideModalAnimation {
  from {
    top: 0;
  }
  to {
    top: -100vh;
  }
}

.assignment-input::-webkit-outer-spin-button,
.assignment-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.assignment-input[type="number"] {
  -moz-appearance: textfield;
}
.assignment-slider::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  height: 1.35rem;
  width: 1.35rem;
  cursor: pointer;
  box-shadow: 0 0 0 1px #f28e2c;
  border: 0.25rem solid #f28e2c;
  background-color: #fff;
  border-radius: 50%;
}
.assignment-slider::-moz-range-thumb {
  height: 1.35rem;
  width: 1.35rem;
  cursor: pointer;
  box-shadow: 0 0 0 1px #f28e2c;
  border: 0.25rem solid #f28e2c;
  background-color: #fff;
  border-radius: 50%;
}

.border-shadow {
  box-shadow: 0px 0px 6px 2px rgba(55, 55, 55, 0.75);
  -webkit-box-shadow: 0px 0px 6px 2px rgba(55, 55, 55, 0.75);
  -moz-box-shadow: 0px 0px 6px 2px rgba(55, 55, 55, 0.75);
}
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 24px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: -2px;
  left: 0;
  background-color: #eee;
  border-radius: 6px;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: #f28e2c;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox-container .small-checkmark:after {
  left: 9px;
  top: 5px;
  width: 4px;
  height: 10px;
}

.checkbox-container .big-checkmark:after {
  left: 9px;
  top: 8px;
  width: 8px;
  height: 10px;
}

.small-checkmark {
  height: 20px;
  width: 20px;
}

.big-checkmark {
  height: 26px;
  width: 26px;
}

.small-scroll-thumb::-webkit-scrollbar {
  width: 6px;
}
:where(.small-scroll-thumb, .short-scroll-thumb)::-webkit-scrollbar-thumb {
  border-radius: 0px;
}

.short-scroll-thumb::-webkit-scrollbar {
  height: 4px;
}

.edit-icon span {
  opacity: 0;
}
.edit-icon:hover span {
  opacity: 1;
}

.dots-animation {
  animation: animate-dots 0.5s linear infinite;
}

@keyframes animate-dots {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.scale-up {
  animation: scale-up 0.2s linear;
}

@keyframes scale-up {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(100%);
  }
}
